import React from 'react';
import { PageHeader } from '../../components/common/PageHeader';
import { {{pascalCase model}}List } from '../../components/{{kebabCase model}}/{{pascalCase model}}List';

const {{pascalCase model}}Page: React.FC = () => {
  return (
    <div>
      <PageHeader
        title="{{titleCase model}}s"
        subTitle="Manage your {{lowerCase model}}s"
      />
      <{{pascalCase model}}List />
    </div>
  );
};

export default {{pascalCase model}}Page;